<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="title">
    <span th:title="Invitation to Remote Collaboration Room ${ roomName }."></span>
</div>
    <div class="body">
        <span>You have been invited to join a video session.</span>
        <a th:href = "${ url }" > Join Room </a>
        <br/>
        <p>To join the session, please use the roomId: <span th:text="${ roomUUID }"></span></p>
    </div>
</body>
</html>
